# TELEGRAM BOT CREDENTIALS
TELEGRAM_BOT_TOKEN=8795985903:AAE1FpJ-u_3I6EEvc0qUhxO6LeoOxGlLPnA
TELEGRAM_CHAT_ID=-5356862325

# MT5 WORKER CONNECTION (KARENA JALAN DI VPS YANG SAMA, GUNAKAN 127.0.0.1)
MT5_WORKER_HOST=127.0.0.1
MT5_WORKER_PORT=5555

# FLASK DASHBOARD CONFIG
FLASK_APP=apps.dashboard.server
FLASK_ENV=development
FLASK_PORT=5000
WORKER_HMAC_SECRET=super_secret_key_123 